.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  min-height: 100vh;

  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.hero-content {
  width: 100%;
  max-width: 1400px;
}

.hero h1 {
  font-size: 3.5rem;
  margin-bottom: 20px;
  color: var(--primary-color);
}

.hero h2 {
  font-size: 2rem;
  color: var(--secondary-color);
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.hero button {
  padding: 15px 30px;
  font-size: 1.1rem;
  background-color: var(--secondary-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hero button:hover {
  background-color: #0873c4;
}
